$background: #fffffe;
$headline: #00214d;
$paragraph: #1b2d45;
$button: #4d61fc;
$button-text: #00214d;
$dark-blue: hsl(233, 26%, 24%);

//illustration

$stroke: #00214d;
$main: #fffffe;
$highlight: #00ebc7;
$secondary: #ff5470;
$tertiary: #fde24f;

//font sizes
$font-med: 1.125rem;
$font-sm: 0.875rem;
$font-lg: 1.25rem;
$font-xlg: 3.25rem;

$footer-background: #d1d1e9;
$footer-headline: #2b2c34;
$footer-paragraph: #2b2c34;
$footer-link: #6246ea;
